[2020-03-29 13:59] luisdalmolin opened #5 "Implement a way to include trashed models in the joins"
Currently, the soft delete clauses are always applied to the joins if the model uses soft deletes. But, you might want to include trashed models in your query.

Just relying on the `withTrashed()` from the query itself is not really reliable, as you are not telling that you want to include trashed models on the joined table.

This could be a method you call fluently, like:

[code]

It could be als

[2020-04-11 13:20] amir9480 opened #9 "Join to self realtion (Feature Request: Join alias)"
Hello.

First off, Thank you for making this awesome package.

I have a Model called category and it has a many-to-many relation to itself like this.
[code]
And also have a Product model.
[code]

Now I can use join relationship in Product.
[code]
But can not join nested relationship.
[code]

Error:
[code]

It would be nice to have join alias feature to fix this.
something like this.

[code]

Or

[

[2020-04-11 13:45] luisdalmolin commented on #9
That makes sense to include as a feature for sure. I'm going to dive into this today and see what I come up with.

Thanks for the detailed issue. I'll keep you posted.

[2020-04-13 13:27] luisdalmolin commented on #9
@amir9480 I just tagged the 1.1.0 version with this feature. There are some docs in the readme on how to use it. Can you please test that with your use-case and check if it works?

[2020-05-14 17:35] travisobregon opened #12 "orderByUsingJoins does not get the correct latest relationship model for nested relationships"
The following looks for the latest relationship name from the root model of the query.
https://github.com/kirschbaum-development/eloquent-power-joins/blob/e6c7011be14d83dfad1bace18226a8d9b1cc5542/src/Mixins/JoinRelationship.php#L190-L192

The following query from the tests works because there is a comments relationship defined on the User model.
https://github.com/kirschbaum-development/eloquent-p

[2020-05-14 17:46] luisdalmolin commented on #12
@travisobregon Seems like a valid issue. I'll take a look at this probably tomorrow or over the weekend and keep you posted. Thanks for the report.

[2020-05-14 18:04] travisobregon commented on #12
@luisdalmolin No worries. I have just submitted a PR #13.

[2020-05-14 22:13] #12 closed

[2020-05-14 22:14] luisdalmolin commented on #12
@travisobregon Just tagged 1.1.1 with your fix.

[2020-05-26 16:22] amir9480 commented on #9
@luisdalmolin

Hello

Excuse me I didn't see this message before.

This working fine:
[code]

But:
[code]
Doesnt work.

I also tried:
[code]

Error:
[code]

[2020-05-27 01:46] luisdalmolin commented on #9
Yeah, this seems to be an issue. I'll take a look at this when I can.

[2020-05-31 22:12] #9 closed

[2020-05-31 22:15] luisdalmolin commented on #9
@amir9480 You should be able to accomplish what you want with the following code:

[code]

You need to pass the belongs to many relationship name as the first array key, and then the belongs to many table names as a nested array. Let me know if you have any problems with this.

[2020-06-01 19:07] amir9480 commented on #9
@luisdalmolin

Now it's working.
Thank you very much.

[2020-08-11 13:16] luisdalmolin opened #15 "whereHasUsingJoins fails inside model scopes"
When using `whereHasUsingJoins` inside a model scope, it fails as Laravel tries to use dynamic wheres instead of using the proper method. Need to figure out a good approach for this, but may need to ship a new version where we include a trait in the models instead of adding macros due to how Laravel works.

[2020-08-13 11:27] georgeboot opened #16 "orderByUsingJoins fails when called in a 2nd query for the same model"
We have the following code:
[code]

Query 1 runs successfully. However, query 2 fails:
[code]
This happens because the `join` statement is missing from the 2nd query, while the `order by` part is still present.

Calling `$user->refresh()` between the two queries, works around this issue.

[2020-08-13 11:42] luisdalmolin commented on #16
@georgeboot Interesting, I would not expect this to happen. Definitely going to take a look at this, probably over the weekend.

[2020-08-13 21:01] MikeyAlder opened #17 "orderByUsingJoins missing results"
When using Model::orderByUsingJoins() you use an inner join query, however, this causes rows to be missing if they don't have the required relationship filled.

Is there are way to use left joins when using Mode::orderByUsingJoins()?

[2020-08-13 21:56] luisdalmolin commented on #17
Not currently, but it's a feature we can add to the package for sure. I'll be working on some issues and probably a new major version over the next days and I'll keep this feature in mind.

[2020-08-18 12:13] MikeyAlder commented on #17
Brilliant! I had created a orderByUsingLeftJoins method, that switched the joins, for now and was going to create a pull request. But if you are working on a major overhaul I won't bother as I'm sure your solution will be much better than my hack 😂.

[2020-08-30 14:39] luisdalmolin commented on #17
@MikeyAlder This should now be fixed in version 2.0. Make sure you check the new method signature for 2.0. as well that you now have to use a trait in your model. This version is already ready to support Laravel 8 as well.

[2020-08-30 14:39] #17 closed

[2020-08-30 14:43] luisdalmolin commented on #16
@georgeboot It took longer than I would like but had some crazy last weeks. This should now be fixed in version 2.0. Make sure you check the new method signature for 2.0. as well that you now have to use a trait in your model. This version is already ready to support Laravel 8 as well.

[2020-08-30 14:43] #16 closed

[2020-08-30 14:43] luisdalmolin commented on #15
This is now fixed :)

[2020-08-30 14:43] #15 closed

[2020-09-01 23:21] maiconmva opened #19 "im try to install and get this error:"
im try to install and get this error:

In ProviderRepository.php line 208:

  Class 'KirschbaumDevelopment\EloquentJoins\PowerJoinsServiceProvider' not found

[2020-09-02 03:20] Kubinoyok0 commented on #19
Because developer change namespace of this package.

Exclude this package from auto-discovery.
==== composer.json ====
"extra": {
        "laravel": {
            "dont-discover": [
                "kirschbaum-development/eloquent-power-joins"
            ]
        }
    },
==================

Add it in service provider manually in "config/app.php".

Please use these solution until developer fix i

[2020-09-02 16:31] luisdalmolin commented on #19
Thanks @Kubinoyok0.

I have just pushed the fix and tagged as 2.0.1 @maiconmva, completely missed that.

[2020-09-02 16:31] #19 closed

[2020-09-02 19:34] maiconmva opened #20 "wrong relational"
hello can you see it, is a bug?

https://prnt.sc/uag1yq

![image](https://user-images.githubusercontent.com/5194641/92028257-1ede6980-ed3a-11ea-8974-00acf6dd65fe.png)

[2020-09-02 19:40] luisdalmolin commented on #20
@maiconmva Thanks for reporting, I'll take a look tonight.

[2020-09-02 19:49] maiconmva commented on #20
forget, my mistake, thanks man!!

[2020-09-02 19:49] #20 closed

[2020-09-02 22:08] luisdalmolin commented on #20
@maiconmva Sem problemas! 😉

[2020-09-08 16:35] PunyFlash opened #22 "Join soft deletes"
As said in the docs, when joining any models which use the SoftDeletes trait, the `"deleted_at" is null` condition added to any joins.
But is there a way to join without this condition? Like `withTrashed()` model method?

[2020-09-09 01:12] luisdalmolin commented on #22
Hmm 🤔

It's definitely something that can be added. A workaround you can use, for now, could be something like this:

[code]

In this case, it's removing the deleted_at condition from the user relationship with the user profile. I'll keep this issue open for implementing this in an easier way.

[2020-09-09 01:14] luisdalmolin commented on #22
Actually, this is already in issue #5, so I'm closing this one. Feel free to reopen if I missed anything.

[2020-09-09 01:14] #22 closed

[2020-09-10 23:52] luisdalmolin commented on #5
This is now possible :)

[2020-09-10 23:52] #5 closed

[2020-09-10 23:53] luisdalmolin commented on #22
@PunyFlash This is now implemented in version 2.1.0: https://github.com/kirschbaum-development/eloquent-power-joins#soft-deletes

[2020-09-16 14:04] tpaksu opened #24 "Usage without traits possible?"
Hello,

I have a package that accepts model classes to create tables for it, but when it comes to sorting and filtering, it needs joins instead of relationship instances. But since the classes are dynamic and given from outside world, I don't have the chance to extend the model classes with traits. I can do it with using eval, but it's not recommended, and will not work in most servers, it's not a

[2020-09-16 14:25] luisdalmolin commented on #24
Version 1 didn't need a trait and you just had access to the available methods. It had some issues that were not solvable though, and because of this, we moved to a trait-based approach.

If you want, you can try with version 1.0, it should work in most of the cases. I can take a look at this when I have some time, but the short answer is you need the trait in version 2 for now.

[2020-09-16 19:25] tpaksu commented on #24
Thank you for your fast response, I couldn't respond earlier as I was outside, I solved my need with a simple function which gets the relationship data from belongsTo etc. method outputs ( table name, foreign key and local key) and simply adds a join to the query. Seems enough for now. Thanks again.

[2020-09-16 19:25] #24 closed

[2020-10-06 22:46] rickmacgillis opened #25 "Fatal Error"
I'm getting this error: `Fatal error: Uncaught BadMethodCallException: Call to undefined method Illuminate\Database\Eloquent\Builder::getSelect()`

The issue is that the `PowerJoins` trait tries to call `getSelect` in the `scopeJoinRelationship` method. The code giving me issues is using Laravel 6. Below is what I wrote when calling it.

`$recipients = UserData::joinRelationship('users')->where('r

[2020-10-06 22:50] luisdalmolin commented on #25
@rickmacgillis can you do a quick check and see if calling `::query()` first solves the issue?

[code]

I'll definitely take a look at this, but may take a few days.

[2020-10-06 23:05] rickmacgillis commented on #25
Same issue, even using your code.

[2020-10-06 23:14] luisdalmolin commented on #25
@rickmacgillis If this is being used outside a Laravel project, it's likely that the macros are not being registered correctly for some reason.

https://github.com/kirschbaum-development/eloquent-power-joins/blob/master/src/Mixins/QueryBuilderExtraMethods.php
https://github.com/kirschbaum-development/eloquent-power-joins/blob/master/src/EloquentJoins.php#L22

You may need to manually call the serv

[2020-10-06 23:54] rickmacgillis commented on #25
@luisdalmolin You're probably right. I decided to just manually add the join code from stock Laravel, so in my case I'm not using PowerJoins right now or I'd try that suggestion. I greatly appreciate your responsiveness on this project, though.

[2020-10-07 10:35] luisdalmolin commented on #25
No problem, I'm going to close this issue then. Feel free to re-open if you decide to try that approach and it fails.

[2020-10-07 10:35] #25 closed

[2020-10-08 08:32] mcolominas opened #26 "issue with saved relationship system"
From what I understand from your code, the relationships are stored in an array, and it does not admit 2 with the same name even though they have different parents, for example:

Product::joinRelationship('translation')->joinRelationship('features.translation')

The previous code only gets the relationships of 'translation' from the first join, and the second join only gets the relation of 'featur

[2020-10-08 08:43] mcolominas opened #27 "issue with powerJoinHas"
When I try to use "powerJoinHas" I get the following error:

Country::powerJoinHas('translation')->get()

SQLSTATE[42000]: Syntax error or access violation: 1055 'countries.iso2' isn't in GROUP BY (SQL: select `countries`.*, count(country_translations.id) as country_translations_count from `countries` left join `country_translations` on `country_translations`.`country_id` = `countries`.`id` and `c

[2020-10-08 10:40] luisdalmolin commented on #26
Thanks, @mcolominas I'll take a look at this soon.

[2020-10-08 10:41] luisdalmolin commented on #27
Hmm, you may need to set your MySQL strict configuration to `false` for this to work. This can be set on `config/database.php`. Can you test that and let me know?

[2020-10-08 11:37] mcolominas commented on #27
Thank you, that was the problem.

[2020-10-08 11:37] #27 closed

[2020-10-08 18:23] luisdalmolin commented on #26
@mcolominas Can you elaborate a bit more on what the issue is here? Is there a runtime error that happens because the query is wrong, or is the problem in the selected data?

Pasting your initial email here for more clarity:

[2020-10-08 18:53] mcolominas commented on #26
The problem is the same as the first example:

`dd(State::joinRelationship('translation')->joinRelationship('country.translation')->toSql());`

Output [1]:

Only one translation, but when I use my fix error, output [2]:

You see the difference and the problem?
Output 1 is bad, only take 1 translation.
Output 2 is good, using my fix, take 2 translations.

[2020-10-08 20:42] luisdalmolin commented on #26
Yep, I see the issue. Thanks for the explanation, I'll be working on pushing the fix for this soon.

[2020-10-09 00:39] luisdalmolin commented on #26
@mcolominas This issue should be fixed in version 2.2.0: https://github.com/kirschbaum-development/eloquent-power-joins/releases/tag/2.2.0. I'm closing this issue, but feel free to open if the problem persists.

[2020-10-09 00:39] #26 closed

[2020-10-14 14:50] mcolominas opened #29 "Error when the relation has a function inside the where"
In my code, in the relation I have added a function inside the where, looking like this:

`return $this->hasOne($translateModel, $this->getForeignKey(), $this->getKeyName())->where(function ($q){
    ...
});`

And it gives me the following error:
Undefined index: column

I have looked a bit and the problem comes from the file "eloquent-power-joins/src/Mixins/RelationshipsExtraMethods.php" in the m

[2020-10-14 14:58] luisdalmolin commented on #29
@mcolominas Yeah, this seems a valid issue. I'll take a look when I can. If you have a solution already, feel free to send a PR.

[2020-10-14 19:25] #29 closed

[2020-10-14 19:27] luisdalmolin commented on #29
@mcolominas This is now fixed in 2.2.1 - can you test?

[2020-10-15 08:18] mcolominas commented on #29
@luisdalmolin No errors, thanks for correcting it so quickly, I hope I do not find more issues.

[2020-10-20 12:01] timrosskamp opened #31 "Nested where clauses in join clause cause Exception"
Hey, I really like you extension! It helped me optimizing my queries a lot! But I came across an Exception when using nested where clauses inside a join clause:

[code]

The reason is that `PowerJoinClause::where` doesn't accept a Closure as it's first parameter. An Exception is thrown from the `Str::contains` function, because `$column` is not a string:

https://github.com/kirschbaum-development/

[2020-10-20 16:07] mcolominas opened #32 "unkdown issue"
Hi, I'm here again, and I'm sure you're going to hate me.

I have found a issue, and it was difficult for me to replicate it to give you an example, since I could not see where it came from, here I write the details:

From Code:

[code]

//Output
select `pages`.* from `pages`
________________________________________________________
From Code:

[code]

//Output
select `pages`.* from pages` inner jo

[2020-10-21 12:18] luisdalmolin commented on #32
@mcolominas Hi there. Yeah, this seems like a valid issue, thanks for the steps to replicate. I'll take a look at this probably this weekend.

[2020-10-24 01:05] luisdalmolin commented on #31
@timrosskamp This should be fixed in version 2.2.2, which was just published. I'm closing the issue, but feel free to reopen if you still have issues.

[2020-10-24 01:05] #31 closed

[2020-10-24 01:08] luisdalmolin commented on #32
@mcolominas can you try to prefix your calls with `query()` to see what if you still can replicate the issue? e.g.

[code]

[2020-10-26 17:18] mcolominas commented on #32
Running the code you have given me, it returns:
select `pages`.* from `pages`

[2020-10-26 17:25] mcolominas opened #34 "The Joins do not contemplate connections with other databases"
The joins do not consider if the relationship they are pointing to belongs to another database (within the same server).

Also if they have different prefixes, just add the prefix of the model where the join is made.

[2020-10-26 17:47] mcolominas commented on #32
Also, add a prefix or I do not think that is the problem, what is strange is that when it is executed X times or more the same relation is when it fails.

Test combinations:

[code]
[code]
[code]
[code]
[code]

[code]

[code]

[code]

[code]

[code]

[2020-10-26 17:49] luisdalmolin commented on #34
What would you expect to happen in this case?

Can you elaborate more on this with a simple example? This seems like something that could get implemented, but I'd like to fully understand

[2020-10-26 19:38] mcolominas commented on #34
For example, I have two databases on the same server, each database is configured in laravel with its connection and its own prefix.

I have to execute this code for it to work for me:
[code]

//Output
select * from `PREFIX1_email` inner join `connection2`.`PREFIX2_users` on `user_id` = `connection2`.`PREFIX2_users`.id

When i use joinrelationship:
[code]
//Output
select `PREFIX1_email`.* from `PR

[2020-10-27 12:14] luisdalmolin commented on #34
Yeah, the prefix can and should get automatically applied. The connection can be tricky because if it's not on the same DB server, it would fail. So maybe a way to opt-in to include the database as a prefix could be a solution here. I'll give some thinking on this.

[2020-10-27 12:54] mcolominas commented on #34
If you don't want to complicate a lot, you could make the prefix and/or database have to be passed to it, eg:
[code]
But the ideal is that it will detect it automatically.

And in case of having 2 databases on different servers, what I would do would be to compare the connection of one and the other and if they do not belong to the same server it would generate an exception

[2020-10-30 18:47] luisdalmolin commented on #32
@mcolominas This should be fixed in the 2.2.3 version, can you check?

[2020-10-30 18:47] #32 closed

[2020-11-14 15:39] itsensepk opened #36 "How to ."
Hello,

How would you return a result with powerjoins when you have an order table that belongs to customer can have employee and you also need to know the creator.

customer_id <-- references customers table to whom this order belongs to
employee_id <-- the order manager who is assigned to this order,
creator_id <-- user who created this order,
creator <-- user type customer/employee

currently i

[2020-11-15 00:49] luisdalmolin commented on #36
@itsensepk In this case, it seems that you could replace your raw joins by using the power joins, as long as your models have the relationships defined.

If you want to post your raw query, I can show you a quick example. I'm going to close this as this is a non-issue, but feel free to comment still.

[2020-11-15 00:49] #36 closed

[2020-11-17 14:40] timrosskamp opened #37 "Joining relationships twice causes SQL Exception."
This code produces an SQL Exception, because the relationship is joined twice in the query:

[code]

outputs:

[code]

I've tried to get to the bottom of the bug and for me it seems like the `PowerJoins::$joinRelationshipCache` cache gets emptied for some reason.

But this only happens in this case. When joining two nested relationships (as in the test case) the sql query is correct, that's why th

[2020-11-17 14:42] timrosskamp commented on #37
https://github.com/kirschbaum-development/eloquent-power-joins/commit/7c1ce762f103ea4d86e25effc92e4628c95950e2 must be related to this issue. Before this commit, I didn't have this problem.

[2020-11-17 14:44] luisdalmolin commented on #37
@timrosskamp Ok, this seems a valid issue indeed, I thought we had test coverage and this would be a non-issue after that commit. I'll take a look at this week.

For now, if you lock the version as `2.2.2` you should be good.

[2020-11-26 21:22] itsensepk commented on #15
Please update your article https://kirschbaumdevelopment.com/insights/power-joins, its really a great guide.

Thanks for the package!

[2020-11-26 21:39] itsensepk opened #38 "nested powerJoinWhereHas failure"
As powerJoinWhereHas expects instance of Illuminate\\Database\\Eloquent\\Builder, we are unable to use it in below query
[code]
this throws
`Argument 1 passed to App\\Models\\Product\\Product::scopePowerJoinWhereHas() must be an instance of Illuminate\\Database\\Eloquent\\Builder, instance of Kirschbaum\\PowerJoins\\PowerJoinClause given`

along with this issue, a not unique table/alias issue also

[2020-11-27 09:58] luisdalmolin commented on #38
@itsensepk Thanks for reporting, I'll check this out over the weekend.

[2020-11-27 19:37] Dead-Master opened #39 "php-8"
need update composer.json

[2020-11-27 19:52] #39 closed

[2020-11-28 13:37] luisdalmolin commented on #38
@itsensepk This is a complex issue that goes a bit on how Laravel works with joins under the hook. I'm afraid using the `powerJoinWhereHas` in nested queries like this will not be possible, at least not without a big re-thinking.

My suggestion for you is to use the regular `whereHas` in this case. I'm going to close this issue as there are no plans of supporting this for now.

[2020-11-28 13:37] #38 closed

[2020-11-28 15:07] luisdalmolin commented on #37
@timrosskamp This issue should be fixed in version 2.3.0.

[2020-11-28 15:07] #37 closed

[2020-11-30 00:18] Genaker opened #40 "Select `relationship_table`.* is not added to select"
I have a code:

Models\CatalogProductEntity::leftJoinRelationship('catalog_product_entity_varchars.eav_attribute')->limit(1)->get();

and select is
[code]
Select is :

or even simple:
[code]
Select Is:
[code]
Should be
[code]
You have this described in the doc however you don't have doc how to add fields from the join. It doesn't have any sence join and not select fields:

https://github.com/kirsc

[2020-11-30 10:55] luisdalmolin commented on #40
It is not the expected behavior to select the columns from the other table when joining. What the package does is basically check if there's a select statement set, and if not it sets `table.*` so you don't have conflicting fields which can cause some headaches.

The solution is exactly as you added, or if you want to avoid power joins of adding the column automatically, you should call the add se

[2020-11-30 10:55] #40 closed

[2020-12-22 15:08] asivaneswaran opened #42 "PHP 8.0"
It seems that this package does not support PHP 8.0? Does it only support ^7.1 or ^8.1?

Any reason why 8.0 is skipped?

[2020-12-22 15:26] luisdalmolin commented on #42
Ha, that was a mistake, I'll get it fixed.

[2020-12-22 16:03] luisdalmolin commented on #42
@asivaneswaran This should be fixed on 2.3.1. Thanks for reporting.

[2020-12-22 16:03] #42 closed

[2020-12-22 16:06] asivaneswaran commented on #42
Thanks!

[2020-12-24 12:41] seakmengc opened #43 "Get error method getSelect not exists when run in testing environment"
DB config:
DB_CONNECTION=sqlite
DB_HOST=127.0.0.1
DB_PORT=3306

Step to reproduce:
1. Call relationship(hasMany) query
2. Then, Call powerJoinWhereHas
Code Sample:
[code]

Trace:
[code]

[2020-12-27 13:08] xicond opened #44 "Custom orderByPowerJoins"
How to orderByPowerJoins if the field is need like
`DB::raw('concat(firstname, ' ', lastname)')`

[2020-12-29 19:23] luisdalmolin commented on #44
@xicond The ability to do this was added in version 2.3.2. You can do like this:

[code]

The first array item is the relationship, and the second your raw expression.

[2020-12-29 19:23] #44 closed

[2020-12-29 19:25] luisdalmolin commented on #43
@seakmengc Did you figure this out yet? I'm on vacation so just saw this issue.

[2021-01-13 13:55] luisdalmolin commented on #43
Closing this one, but feel free to reopen if you still have this issue.

[2021-01-13 13:55] #43 closed

[2021-01-18 20:35] bianchi opened #46 "Call to undefined method Illuminate\Database\Eloquent\Builder::getSelect()"
I'm getting this error:

`Call to undefined method Illuminate\Database\Eloquent\Builder::getSelect()`

My code call:
`EmpresaGrupo::joinRelationship('pessoa');`

I believe is the same as #43

I'm using Lumen 8

[2021-02-01 00:25] luisdalmolin commented on #46
@bianchi Sorry the delay on getting back to you. Is your model using the `PowerJoins` trait? To be honest I didn't test this package with Lumen, but it should (in theory) work in the same way.

[2021-02-01 11:16] bianchi commented on #46
@luisdalmolin thanks for answer. Yes, I'm using the trait

[2021-02-01 11:31] bianchi commented on #46
Solved registering service provider. In my app.php:

`$app->register(Kirschbaum\PowerJoins\PowerJoinsServiceProvider::class);`

[2021-02-01 11:31] #46 closed

[2021-02-11 14:50] ctf0 opened #47 "boolean scopes with false doesnt get correctly substituted in the final query"
for example
[code]

note all the `to_be_collected / is_returned /etc.. = ` should have `0` for a value which correspond to the original scope

[code]

also here is the query
[code]

am not sure if am missing something or if its a bug but when adding `0` to all the fields and run it directly, the data is correctly ordered,
if u need any more info plz do tell.

[2021-02-11 19:13] ctf0 commented on #47
it seems its an issue with laravel it self, not the package.

[2021-02-11 19:13] #47 closed

[2021-02-11 19:18] luisdalmolin commented on #47
@ctf0 This seems like it should work - what DB driver are you using?

[2021-02-11 19:19] ctf0 commented on #47
mysql 8 , when using `false` in the scope, nothing is added to the query, while when using `true` its added as `1`, am not sure why.

[2021-02-11 22:41] luisdalmolin commented on #47
Very weird, it seems that it should work fine. But yeah, it's a Laravel thing nothing we can do from the package.

[2021-02-24 10:58] notiv-nt opened #48 "How to return/view joined relation?"
I have a test project with user/post models

`User.php`
[code]

`Post.php` is almost empty

Query
[code]

And, i see

[code]

How to return posts? `getPostsAttribute`? `$visible = []` ?

[code]
Gives me a new db query `SELECT * FROM "posts" WHERE "posts"."user_id" = '1' and "posts"."user_id" IS not NULL`

How to use that ?

[2021-02-24 15:33] luisdalmolin commented on #48
So, if you want to access the multiple posts your user can have, you won't really be able to use the joins here just by the nature of joins. You could use joins to select fields and/or filter results, but it seems like you aren't doing either. So, you should just stick with the default relationship.

If you want to return posts and this is an API endpoint, you should use eager loading:

[code]

[2021-02-24 15:33] #48 closed

[2021-04-04 21:56] saibotk opened #49 "Feature request: Relationship join on pivot"
First of all: Thank you for the awesome package and happy easter :rabbit: !

In our current project, we are using the relationshipJoins with various many-to-many relations, but do not really care about the data on the relationship table and instead only need to join the pivot table.
So I wanted to suggest adding a function, which does the same as relationshipJoin, which already does an inner join

[2021-04-06 17:24] luisdalmolin commented on #49
@saibotk Seems like a valid feature request. I'll take a look at this when I have some time, probably next weekend.

[2021-04-13 06:49] phuongdm1987 opened #51 "[2.3.3] call multi joinRelationship function query builder"
[code]

[2021-04-13 13:10] luisdalmolin commented on #51
I'm not sure I follow your issue. Can you be more specific on what is the error you are seeing, and also post the full code snippet?

[2021-04-14 03:50] phuongdm1987 commented on #51
[code]

I've 2 classes to call `joinRelationship` twice with the same queryBuidler. But the query accepts only the first filter

select `users`.* from `users` inner join `user_relationships` on `user_relationships`.`client_id` = `users`.`id` and `user_relationships`.`host_id` = 53 order by `users`.`id` desc limit 20 offset 0

possible to join with multi conditions like above?

[2021-04-17 18:33] Shadow505 commented on #51
Hi,

I'm having a similar issue. Example:

[code]

Will fail with the error:

`SQLSTATE[42S22]: Column not found: 1054 Unknown column 'serial_product.product_name' in 'field list' (SQL: select `products`.`product_name`, `serial_product`.`product_name` as `serial_product_name` from `purchases` left join `products` on `purchases`.`product_id` = `products`.`id` left join `serials` on `serials`.`relat

[2021-04-17 23:08] luisdalmolin commented on #51
@phuongdm1987 Got it. Yeah, in your case it would ignore the second condition indeed. You can, though, use a different approach, like:

[code]

You can use the condition outside the callback. This may be a feature we implement in the future, but I'd have to analyze as it may have unintended consequences.

[2021-04-17 23:08] #51 closed

[2021-04-17 23:11] luisdalmolin commented on #51
@Shadow505 Your issue is different. `product_name` is not a column from the `serial_product` table, and because of that it's failing at the SQL level.

[2021-04-17 23:17] Shadow505 commented on #51
@luisdalmolin

No, that's not the issue.

`product_name` is a column in the `products` table and has been aliased as `serial_product`.

If I remove the first `leftJoinRelationShip` call, it does not produce the error (but then obviously misses the other data). The issue is definitely the caching feature.

[2021-04-18 10:53] luisdalmolin commented on #51
@Shadow505 Yep that makes sense, I'll look into it.

[2021-04-18 22:41] luisdalmolin commented on #51
@Shadow505 Your issue should be fixed in https://github.com/kirschbaum-development/eloquent-power-joins/releases/tag/2.4.0. Let me know if you still have the issue.

[2021-04-19 01:52] phuongdm1987 commented on #51
well, thanks all,

That is the point I want to show, thanks
If we call the same relationship join much time, the package only accepts the first one.

[2021-04-19 20:49] Shadow505 commented on #51
@luisdalmolin Thanks!

[2021-04-22 13:17] Shadow505 commented on #51
@luisdalmolin

Hi,

unfortunately I am having issues again with the caching feature. Take this example:

[code]

I basically attempt to join the same table twice but with a different where() condition and then select the desired columns for both of them. Unfortunately, it will again ignore the second join, due to the caching feature.

Thanks for your help!

[2021-04-22 14:34] Shadow505 opened #53 "Issue with aliased joins"
Hey there,

I am having issues, using nested relationships that have been aliased. Take this example:

[code]

This will produce the following error:

That's because the `on` clause does not take the aliased table name into account.  So, insead of

[code]
it should actually be

[code]

I went ahead and tried to manually specify the `on` clause like this

[code]

Unfortunately this will append the

[2021-04-26 13:51] jreason opened #54 "Joining using Aliases"
I cannot get this to work at all.

my relationship is called salesExec.
`
public function salesExec()
    {
        return $this->hasOne(User::class, 'id', 'sales_exec_user_id');
    }
`

`$records = Order::leftJoinRelationship('salesExec')->select('users.first_name')->first();`
Works but no good when i need to join the users table again.

`$records = Order::leftJoinRelationshipUsingAlias('salesEx

[2021-05-05 12:54] mcolominas opened #55 "powerJoinWhereHas doesn't call the callback function with hasOneThrough/hasManyThrough"
Hi, I am using 'powerJoinWhereHas' with a relation of 'hasOneThrough' or 'hasManyThrough', but it doesn't call the callback function, however, for example with a relation of 'hasMany', call the callback function.

[2021-05-05 14:41] jaulz opened #56 "Use relation collections"
First of all: thanks for this cool library! 😊

Right now, I'm scratching my head because when I do the join all the data is retrieved correctly but all attributes are stored in the attributes of the model (even foreign attributes). Is it somehow possible to store the retrieved data automatically in the corresponding relations?

So after using `$post->joinRelationship('user')->get()` I want to be a

[2021-05-05 14:46] luisdalmolin commented on #56
@jaulz No, that's not currently possible, I think you will be better of accomplishing this using eager loading instead of joins, in this case.

This would be very complex and probably not worth implementing here since it would be doing the same as eager loading, and it would only work for 1-1 relationships.

[2021-05-05 14:46] #56 closed

[2021-05-05 14:48] jaulz commented on #56
Thanks for the really quick answer! Do you know by any chance if there is a package which could accomplish that?

[2021-05-05 17:56] jaulz commented on #53
Yep, same issue here 👎

[2021-05-06 14:30] luisdalmolin commented on #56
Default Laravel should be able to do that. You can do:

[code]

[2021-05-08 11:09] luisdalmolin commented on #54
You are almost there - since you have only on relationship in your joinRelationship call (not nested), you don't need to pass an array as the second parameter and you can pass a closure directly:

[code]

Or, if you pass an array, you need to use as the array key, the relationship name:

[code]

[2021-05-08 11:09] #54 closed

[2021-05-08 11:10] luisdalmolin commented on #54
If this doesn't work, let me know. The `$records = Order::leftJoinRelationshipUsingAlias('salesExec', 'sales_exec')` is a good idea, I may implement it.

[2021-05-08 11:26] luisdalmolin commented on #54
This feature will be shipped in the next version which should go out today (hopefully).

[2021-05-08 19:38] luisdalmolin commented on #55
@mcolominas Can you give me one example one how you are trying to pass the callback?

[2021-05-12 13:45] winter-ice commented on #34
I have same issue.

[2021-05-12 14:11] mcolominas commented on #34
@winter-ice Due to inactivity, I have modified the code a little, it is not tested in all aspects and it is not 100% implemented, but to perform joins for me it is more than enough, until they fix it, if you want, I can share the code with you.

[2021-05-12 14:13] winter-ice commented on #34
I need it, thanks for your share

[2021-05-12 14:24] mcolominas commented on #34
As I have said before, this may not work correctly in some cases, and in the case of using aliases, I have not done any tests, you can always modify the code to adapt it to your needs.

Create the following traid, and instead of using PowerJoins use the traid
[code]

Create the following class that extends from use Kirschbaum\PowerJoins\Mixins\RelationshipsExtraMethods:
[code]

In the service prov

[2021-05-12 14:36] mcolominas commented on #34
An explanation of why I use the DB::raw() in case you want to implement this or something similar in powerjoin

If DB::Raw() is not used instead of generating `<database>.<prefix><table>` it would generate `<prefix><database>.<prefix><table>`

[2021-05-12 15:09] winter-ice commented on #34
After some testing, I removed DB::Raw(),because it cause some issues in my side, now it works well. I just use different database but not use prefix. Seems it not an issue for me.

Thanks your your share again.

[2021-05-17 12:36] heartbeatLV opened #58 "Nested joins with different join type"
hi, thanks for your work

Is it possible to join nested relationships with different join types?

[code]

[2021-05-17 12:40] luisdalmolin commented on #58
Currently, there's no way to explicitly do this, although it's probably a good feature to have. I believe you should be able to to something like this, though:

[code]

I'll put this in the roadmap of new features.

[2021-05-17 12:47] heartbeatLV commented on #58
by doing so, the 'posts' relationship is joined twice

and in the reverse case it does not give the desired result:

[code]

[2021-05-17 12:55] luisdalmolin commented on #58
So, the examples you are giving are not really using the package. This is something that will have to be added to the package eventually and won't be possible **with** the package until there.

[2021-06-21 12:40] rubenlagatie commented on #53
Hi, I also bumped into this problem. I've quickly checked the code and I think an easy fix would be to add the alias to the aliasesCache on line 60 in PowerJoinClause.php:
`PowerJoins::$powerJoinAliasesCache[spl_object_id($this->model)] = $alias;`
There is already code that checks this cache when joining.
I've tested this and it seems to be working fine, even for nested aliases.

[2021-07-03 17:59] azzumed opened #59 "Join disappears using withCount"
Laravel dont merging joins, when using withCount method on relation.
I'm have hasMany relation, where i'm need joins, but i'm cant use it with withCount
Because this method, called from Builder::withCount->withAggregate
\Illuminate\Database\Eloquent\Concerns\QueriesRelationships::mergeConstraintsFrom

[2021-07-04 23:37] luisdalmolin commented on #59
Can you post a code snippet so I can understand how you are calling the code? It's a bit hard to understand just from what you wrote

[2021-07-04 23:39] luisdalmolin commented on #53
@rubenlagatie would you mind sending a PR with the fix?

[2021-07-26 04:49] kevincobain2000 opened #60 "compoships support"
Hi, do you have plans to support multiple keys for the packages such as https://github.com/topclaudy/compoships

[2021-07-26 12:02] luisdalmolin commented on #60
There are no plans about it, but it's the first time I heard about this package. I'd have to look at their implementation, but my current thinking is that it would be too much work to make it work with 1 specific package. I'm closing the issue, but feel free to reopen if you think it should, and we are always open to PRs!

[2021-07-26 12:02] #60 closed

[2021-07-27 01:22] kevincobain2000 commented on #60
Thank you.
You are open to PR that is nice. I will see what I can do.

[2021-07-27 11:25] Goddard opened #61 "Using this library with Capsule"
Since Eloquent can be used as a stand alone ORM system how do you use this package when you aren't using Laravel?

[2021-07-27 11:27] luisdalmolin commented on #61
In theory, the same way. This package has `illuminate/support` and `illuminate/database` as dependencies only. I never tried using even Eloquent outside of Laravel, so can't say this for sure.

Did you try it and it didn't work? Any specific error message?

[2021-07-27 11:29] Goddard commented on #61
Getting the same error as this issue.

https://github.com/kirschbaum-development/eloquent-power-joins/issues/46

[2021-07-27 11:30] EgorGruzdev commented on #61
If you look at the source of the service provider for this package, it's enough to add a call to EloquentJoins::registerEloquentMacros() in addition to what is already described in illuminate/database;

[2021-07-27 11:35] Goddard commented on #61
Alright sweet, was able to get it working by including that call in my base model.

[2021-07-30 01:03] #61 closed

[2021-08-04 03:14] levi730 commented on #53
@rubenlagatie Do you still have the fix for this issue?  Even if it's just some code snippets and not a real PR, I might be able to run with that.  I'm encountering the same problem, and it seems to be my only roadblock.  Thanks!

[2021-08-10 08:21] rubenlagatie commented on #53
Sorry for the late reply, I am on holiday. The fix is as simple as I stated in my previous message, just add this line of code:
`PowerJoins::$powerJoinAliasesCache[spl_object_id($this->model)] = $alias;`
to PowerJoinClause.php on line 60.
By doing this, the alias is added to the aliasescache and will be used when the join statement is being created.
I can make a PR next week if you want.

[2021-08-12 21:14] ddzobov opened #62 "table name specified more than once"
Hello guys!
I'm facing with this issue:

[code]

Probably, need to extend already created join with «or» instead of creating new one.
Seems to be related to #37

[2021-08-12 23:33] luisdalmolin commented on #62
I'll take a look at this tomorrow or over the weekend, thanks for the report.

[2021-08-13 07:52] ddzobov commented on #62
Tested with autogenerated aliases - same error

[2021-08-19 04:44] ddzobov commented on #62
Hello! Any news?

[2021-08-20 08:18] rubenlagatie commented on #53
Pull request created: https://github.com/kirschbaum-development/eloquent-power-joins/pull/63

[2021-08-29 11:25] luisdalmolin commented on #62
@ddzobov Sorry for the delay, I've been stumped with work. The package doesn't choose for you the names, so you have to make sure it uses a different alias. So in your case, you have two options:

[code]

or

[code]

[2021-08-29 11:25] #62 closed

[2021-08-29 11:36] luisdalmolin commented on #59
I'm closing this issue for now, feel free to reopen with an example.

[2021-08-29 11:36] #59 closed

[2021-08-30 10:17] #53 closed

[2021-08-30 10:20] luisdalmolin commented on #53
This should be fixed on https://github.com/kirschbaum-development/eloquent-power-joins/releases/tag/2.4.1

[2021-09-07 23:16] mshamaseen opened #65 "self relationship"
I have `Admin` model with a relation called `inviter` which indicates the admin that invited this one to the system (self-relationship).

so the inviter relation is:

`function inviter()
    {
        return $this->belongsTo(self::class,'invited_by');
    }`

calling : `joinRelationship('inviter')->find(1)` result on

[code]

[2021-09-08 09:53] luisdalmolin commented on #65
@mshamaseen You will have to join this relationship using aliases:

[code]

OR

[code]

[2021-09-08 09:53] #65 closed

[2021-09-10 13:40] fabianogaldino commented on #58
A temporary solution would be to unset the extra join.

unset left join posts
[code]

[2021-10-11 13:31] thekonz opened #66 "Global scopes"
I like this package, but global scopes are not applied to anything I join.

There is that hardcoded case of soft deletes, but no solution ready for other global scopes.

Is there a good way to add global scopes to a joined relation?

Example:
[code]

[2021-10-13 07:12] thekonz commented on #66
@luisdalmolin Did you have a look into this issue? Can you tell me if this will be solved by this package or not?
If not, I will try to work around this issue somehow.

[2021-10-13 10:39] luisdalmolin commented on #66
@thekonz So, just to clarify, you are saying that the global scope from the joined model does not get applied in the join that was created by the package?

If that's the case, then it makes sense, I don't think the package is doing this, and it's definitely something we could implement. I may be able to look into it this weekend, but no promises. We are also open to PRs in case you are interested.

[2021-10-14 14:07] thekonz commented on #66
I found a surprisingly easy way to implement it.

[code]

So if the Post model contains an Active and a Published global scope, the resulting query would be:
[code]
Note that `posts.active` and `posts.published` will only have the table name, if you use `qualifyCol
umn` in the global scope or manually qualify it.

@luisdalmolin how would you want this to be implemented? Should joining eloquent rel

[2021-10-14 14:09] zaient opened #67 "Scoped relationship with different models of same column names throws error"
I have 2 models that have similar column names i.e. `name`, joins throw this error:
[code]

Model Video:
[code]
Model TrackedJob:
[code]

However if I try to use `joinRelationshipUsingAlias` like so, I get a different error:
[code]

Any way of getting around this?

[2021-10-24 23:02] #66 closed, assigned to nobody

[2021-10-25 17:30] gcavanunez opened #72 "When clause"
Thank you for the awesome package and really makes working with joins easier.

In our current project, we are using the relationshipJoins to filter on datatables, however we don't always have the filters active we rely alot on the `->when(bool, closure(Builder $query){//})` functionality however since the closure is an instance of the query builder we lose the functionality of the package

To this

[2021-10-26 14:40] thekonz opened #73 "joinRelationshipCache breaks union query"
I use an sql `union` statement to chain multiple queries together.
It all works great unless you join the same relation twice.

[code]

The resulting query is something like this:
[code]

I modified the method `\Kirschbaum\PowerJoins\PowerJoins::clearPowerJoinCaches` to also clear the `joinRelationshipCache` and it now works without an error.
[code]

[2021-11-02 11:48] jreason opened #74 "Join Using Alias"
Hi @luisdalmolin

Just following up on #54
I am still unable to get this to work correctly and im unsure where i am going wrong?

[code]

Using ->get() i get the following error:

When using ->toSql() i can see that its using a random string as the alias instead of salesExec?

I am using the latest version: 2.5.0

[2021-11-16 08:05] ccerrillo commented on #61
@luisdalmolin Maybe this can be in the usage instructions, i can confirm that this must be called if you are using illuminate/database  as standalone ORM

[2021-11-17 15:21] navaneeth-raman-bhaskar opened #75 "orWhere closure with local scopes won't work"
*Item.php*

[code]

*Order.php*

[code]

Fetching all items doesn't having order (pending and expired)
This is not working
[code]

Throws error

Following works
[code]

[2021-11-18 12:32] jonneroelofs commented on #74
I have the same problem. Will create a PR to show a possible solution.

[2021-11-18 17:00] jonneroelofs opened #77 "Join missing from query"
If you have two different relations to the same table and then have a shared relation on those relations, then if you trying querying them you end up missing 1 join in the resulting query. An example will make this much clearer I think:

[code]
Results in:
[code]

The there should also have been another left join to `planets` for the secondary location.

I think it caused by the usage of the $rela

[2021-11-18 17:09] #74 closed

[2021-11-19 00:35] gcavanunez commented on #72
So after some digging around and writing some test the exception I encountered earlier when invoking a powerJoin trait method in the context of a `when` closure, is no longer occurring

I wrote this test to validate the use case that I previously mention, though iffy to pr since I believe this would be expected behavior in general
[code]
 still exploring some edge cases  but from what I can tell a

[2021-11-20 04:05] navaneeth-raman-bhaskar commented on #75
[code]
This code is going to work. I think

[2021-11-20 04:11] navaneeth-raman-bhaskar commented on #75
[code]

One-level works , I think
[code]

[2021-11-29 08:22] Stevemoretz opened #78 "Suggestion : Merge with Laravel"
This is a great package have you considered to request that this becomes a part of Laravel? Specially the join on relationships is the lost feature of eloquent.

[2021-12-03 11:43] luisdalmolin commented on #78
That's something I've considered, but at the moment I don't have enough time to do this, but I may do in the future. Thanks for the suggestion

[2021-12-03 11:43] #78 closed

[2021-12-03 11:45] luisdalmolin commented on #77
@jonneroelofs Thanks for the detailed issue. I was on vacation so took me a while to see this, but I'm definitely open to a PR with a fix to this. Otherwise, I may take a look when I have some time to dedicate to Open Source.

[2021-12-06 09:44] simong88 opened #79 "BelongsToMany with relatedKey"
Hi,

PowerJoins does not work with belongToMany when we use custom related key (6th parameter), for example :
` return $this->belongsToMany("\App\Models\Material", "CUSTOMER_MATERIAL", "CUSTNO", "CARNO", "CUSTNO", "CARNO");`

Generated query is :
`select * from [CUSTOMER] left join [CUSTOMER_MATERIAL] on [CUSTOMER_MATERIAL].[CUSTNO] = [CUSTOMER].[CUSTNO] left join [MATERIAL] on [MATERIAL].[IDMater

[2022-01-27 00:36] ejunker opened #80 "PHP 8.1 Support"
I was testing my app with PHP 8.1 and got these deprecation notices.

`
Accessing static trait property Kirschbaum\PowerJoins\PowerJoins::$joinMethodsMap is deprecated, it should only be accessed on a class using the trait in /app/vendor/kirschbaum-development/eloquent-power-joins/src/PowerJoins.php on line 42
`

`
Accessing static trait property Kirschbaum\PowerJoins\PowerJoins::$powerJoinAliases

[2022-01-27 15:47] luisdalmolin commented on #80
Ok, seems like we need to do some work for this to work well with PHP 8. Not sure exactly when we'll get to this. If you are in a rush, we are open to PRs.

[2022-02-02 01:06] #72 closed

[2022-02-02 11:04] vipankumar87 opened #81 "How i can get other users that have same interest of current user if empty then latest user"
How i can get other users that have same interest of current user if empty then latest user

[2022-02-06 13:12] #55 closed

[2022-02-06 13:17] luisdalmolin commented on #55
This was fixed on https://github.com/kirschbaum-development/eloquent-power-joins/releases/tag/2.5.2

[2022-02-06 14:21] luisdalmolin commented on #81
Sorry, I can't help you with the amount of informations you gave. If you need help, please describe your architecture with code examples.

[2022-02-06 14:21] #81 closed

[2022-02-09 07:55] domihagen commented on #77
We have a similar/the same problem. We have created a scope function that takes care of sorting (`orderByPowerJoins`). This scope is used in several components that are included on a single page. Unfortunately the join is not inserted in all queries, which leads to an SQL error (Column not found).

[2022-02-09 14:13] vipankumar87 commented on #81
Interest Table
`
create table interests
(
    id         bigserial
        primary key,
    name       varchar(255) default ''::character varying not null,
    post_count bigint       default '0'::bigint,
    created_at timestamp(0),
    updated_at timestamp(0),
    deleted_at timestamp(0)
);
`

User_interest Pivot Table

`create table user_interest
(
    user_id     bigint not null
        constr

[2022-02-09 14:14] vipankumar87 commented on #81
I am login with ABC having interest in sport

now want to show user that have interest in sport

[2022-02-09 16:22] mariojgt opened #87 "Laravel 9, all test fail, not sure how to fix those errors but i have updated the dependencies to illuminati 9 and run your tests this is the result."
Warning: TTY mode is not supported on Windows platform.

   FAIL  Tests\Unit\JoinRelationshipExtraConditionsTest
  ⨯ join belongs to with additional conditions
  ⨯ join belongs to with additional conditions and alias
  ⨯ join has many relationship with additional conditions
  ⨯ join has many relationship with additional conditions and alias
  ⨯ join has one relationship with additional conditions

[2022-02-09 16:48] #87 closed

[2022-02-09 17:14] ipimpat opened #88 "Laravel 9 support"
Could this wonderful package be updated to support Laravel 9

[2022-02-09 17:15] luisdalmolin commented on #88
Thanks, it already is! Check the newest version (2.6.0).

[2022-02-09 17:15] #88 closed

[2022-03-03 14:03] kul2002il opened #90 "Joining relationships intermediate node causes SQL Exception"
Code:
[code]

Output if $conditions = true:
[code]

I want get
[code]
How to get it?
Maybe there's a way to solve this (some kind `addJoinRelationship()`),
but it's not write in README.md.

Seems to be related to #37 and #62.

Sorry, if it's duplicate.

[2022-03-04 14:44] gianmarx opened #91 "Laravel 9 and PHP 8.1"
Is Release 2.6.1 compatible with Laravel 9.0 and PHP 8.1?

[2022-03-04 14:52] luisdalmolin commented on #91
Version [2.6.0](https://github.com/kirschbaum-development/eloquent-power-joins/releases/tag/2.6.0) should be, but it wasn't tested a lot since we didn't upgrade our internal projects using it yet. If you have any issues let me know.

[2022-03-04 15:15] luisdalmolin commented on #90
I'm going to look into it.

[2022-03-05 18:40] luisdalmolin commented on #77
Hey guys, I think this should be fixed by version 2.6.2: https://github.com/kirschbaum-development/eloquent-power-joins/releases/tag/2.6.2

If it doesn't, feel free to reopen the issue.

[2022-03-05 18:40] #77 closed

[2022-03-05 18:41] luisdalmolin commented on #90
@kul2002il this should be fixed in version 2.6.2: https://github.com/kirschbaum-development/eloquent-power-joins/releases/tag/2.6.2

[2022-03-05 18:41] #90 closed

[2022-03-05 19:16] luisdalmolin commented on #91
This should be working fine now in 2.6.3.

[2022-03-05 19:16] #91 closed

[2022-03-05 19:16] luisdalmolin commented on #80
This should be working fine now in 2.6.3.

[2022-03-05 19:16] #80 closed

[2022-03-06 01:04] luisdalmolin commented on #73
Just tested and this works in the current version, so closing this issue.

[2022-03-06 01:04] #73 closed

[2022-03-06 01:10] luisdalmolin commented on #79
Are you sure about this? Can you describe your current table structure and also give an example on how you are calling the join relationship method?

[2022-03-06 01:11] luisdalmolin commented on #75
Yeah, I'll look into this (sorry the giant delay). but I suggest using the `whereHas` where the `powerJoinHas` gives you problems, as it's a lot more complex to make some things work in there.

[2022-03-06 01:16] luisdalmolin commented on #75
I'm closing this as model scopes don't really work with the power join hasm only with the join relationship methods.

[2022-03-06 01:16] #75 closed

[2022-03-06 01:17] luisdalmolin commented on #58
This solution should work just fine nowdays, so closing this issue:

[code]

[2022-03-06 01:17] #58 closed

[2022-03-06 07:51] thekonz commented on #73
Alright thanks, I'll try it out next week and confirm that ;)
🚀

[2022-03-06 08:09] kul2002il commented on #90
Yes, it make application work.
Thanks.

[2022-03-07 05:24] navaneeth-raman-bhaskar opened #94 "PoweJoinWhereHas on Pivot table is not working"
### Steps to reproduce
Laravel 8.0
MySql 5.7
PHP 7.4

[code]

[code]
[code]
**Controller code**

[code]

[2022-03-07 10:52] navaneeth-raman-bhaskar commented on #94
If anyone having same issue on pivot table; Use native `whereHas()` instead

[2022-03-29 13:46] jreason opened #95 "Incorrect table name used when joining with an alias"
Hi,

I am using leftJoinRelationshipUsingAlias.

This simple example should return both table ids but w_id is returning null.

[code]

When using toSql() to print out the raw sql, i get the following sql:

[code]

When changing the following line and testing, i then get the correct result.

LEFT JOIN `conversion_options_new` AS `wheel_size` ON `wheel_size`.`id` = **conversion_options_new**.`wheel_

[2022-04-05 14:02] jonneroelofs commented on #77
Thanks this works great! Was able to bin a bunch of workaround code I had to work around this problem.

[2022-04-06 07:38] jonneroelofs opened #96 "useTableAliasInConditions breaks withTrashed / onlyTrashed"
When trying to using withTrashed() I get errors that array_filter takes an array but gets a collection.

I think the problem is when useTableAliasInConditions is called the wheres array on the PowerJoin class gets turned into a collection.

Hopefully adding a ->toArray() method before returning from the useTableAliasInConditions fixes the problem.

[2022-04-06 14:05] wangarrius opened #98 "Nested joins with belongs to many relations"
Hi,

I use
[code]
with

[code]
in my code. 'permission' is a belongs to many relation. This already worked. But with the newest version of eloquent-power-joins i get the error 'Array callback must have exactly two elements'. The error seems to occur in line 437 in the PowerJoins.php
[code]
because $callback[$tableName] is an array in this case.

But if I change the line 138 in the PowerJoins.php f

[2022-04-06 22:58] #96 closed

[2022-04-11 23:14] luisdalmolin commented on #98
@wangarrius are you using the latest version? Just to make sure. I'm going to take a look at this if so

[2022-04-12 07:40] wangarrius commented on #98
@luisdalmolin I am using version 2.6.4.

[2022-04-25 21:42] swartjie opened #99 "Left Join Not Working for one relationship but does for another"
Hey Guys,

I'm pulling out  my hair with this issue since it does not make sense. I hope it's a bug, or something you guys can maybe point me in the direction of what I'm doing wrong.

I have a user's model, with a user's table.
I am grabbing a list of users, and then showing them in a table.

I have a sort trait that sorts according to a field name, and 2 of the fields, package_name and owner_use

[2022-05-24 22:49] elielcverolez opened #100 "HasMany Relationship"
I'm having problems with the HasMany Relationship,
Is there any way to merge the data brought by HasMany?
We have a table and it is related between two HasMany , as is joins , it duplicates this data that has more than one data

For example, it would be possible to bring 2 people_address
Where is the red X?
Without having to do treatment outside the query?

![image](https://user-images.githubuserc

[2022-06-01 15:53] nickfls opened #101 "Shouldn't PowerJoinClause always qualify the conditions?"
This is from PowerJoinClause:136:143
[code]

this line `if ($this->alias && is_string($column) && Str::contains($column, $this->tableName)) {` gets repeated a lot.

Recently i hit a case when i have two joins on the same table and while the first one is aliased, the scope on the second produces an issue, as the scope becomes ambiguous.

Would you consider an addition of two methods: `qualify` and

[2022-06-03 21:03] waiaryi opened #102 "Aliases cannot be used on the main model"
Versions of packages used and PHP.
PHP: 8.1
Laravel: 9.16
Eloquent-power-joins: 2.6.4

If I set an alias to the main model from which the relationships originate, the relationships fail, because they refer to the name of the model's table, instead of the alias if it exists.
At all times I see that reference is made to **`getModel()->getTable()`**, that is why the table is always searched, when I t

[2022-07-11 05:43] julienmru commented on #100
I have an issue related to this when using `orderByPowerJoins` on a `hasMany` relation. If the linked table as more than 1 record, I will get duplicates records on the parent table.

[2022-07-20 11:59] luisdalmolin commented on #100
@elielcverolez That's not really a question about this package, but more related to SQL joins in general. You can bring multiple records if you use the right select statements, but it would essentially be duplicated rows. I recommend using eager loading to fetch `hasMany` records.

[2022-07-20 11:59] #100 closed

[2022-07-20 11:59] luisdalmolin commented on #100
@julienmru feel free to open and issue with your issue with orderBy

[2022-07-26 05:47] stevethomas commented on #40
Sorry to revive this old issue, happy to open another issue or move to another medium if preferred; however this issue is pretty closed related.

Some of my legacy code utilises joins on a query to the products table, and I am unable to produce the same performance using eager loading.

I have also tried https://github.com/hammerstonedev/fast-paginate, and while this does speed up the main query o

[2022-07-27 09:41] dmikam opened #105 "Conditioning of joins is not consistent"
I have these two examples:

`        $queryBuilder1 = User::query()->joinRelationship('posts.comments', [
            'posts' => function ($join) {
                $join->where('posts.published', true);
            },
        ]);
`
and
`        $queryBuilder2 = User::query()->joinRelationship('posts', [
            'posts' => function ($join) {
                $join->where('posts.published', true)

[2022-08-03 04:22] proSoftDev opened #106 "Macros support ?"

[2022-08-03 10:36] luisdalmolin commented on #106
Can you elaborate more where you would like to have macros and how you would use the,?

[2022-08-03 23:45] stevethomas opened #107 "Select joined columns"
The way I have always approached joins outside of Laravel is to alias the joined columns, like:

[code]
This might be a bit naive, but wouldn't there be a way to remove the column prefix and glue the related model into the product collection using `setRelation()`? Obviously the related model will be missing a bunch of attributes (no worse than ->with('users.id,username') though), and then you coul

[2022-08-04 00:06] luisdalmolin commented on #107
Definitely not opposed of that, but as this could be a confusing feature, it would have to be some API we (maintainers) are comfortable with and won't generate a lot of issues.

[2022-08-04 23:05] stevethomas commented on #107
No worries, totally understand. I will close this issue down and see if I can get a PR going in the near future.

[2022-08-04 23:05] #107 closed

[2022-08-05 11:38] luisdalmolin commented on #107
Thanks!

[2022-08-05 11:39] luisdalmolin commented on #106
I'm closing this, but feel free to re-open with some examples.

[2022-08-05 11:39] #106 closed

[2022-08-09 20:08] Goddard commented on #102
I also ran into this same issue with SoftDeletes as well.

[2022-08-29 11:04] beshoo commented on #102
Any update to this BUG?

[2022-09-01 23:12] beshoo commented on #105
+1

[2022-09-01 23:17] beshoo commented on #98
@luisdalmolin  any update on this? can we consider it a bug?

[2022-10-18 11:16] duncanmcclean opened #109 "Can't seem to filter when using power join"
We're attempting to use this package to easily swap out our queries written with `whereHas` to use joins instead.

However, when we went to change some of our queries to use the `powerJoinWhereHas` method, we see that the join is there in the SQL query but we can't see the `->whereIn('bed_types.id', $ids)` bit in our SQL query anywhere.

## Code

[code]

[code]

## Table Structure

**`bed_types`**

[2022-10-26 21:45] luisdalmolin commented on #109
Hey @duncanmcclean, thanks for the detailed report. Things have been a bit crazy over here, so not sure exactly when we'll get to it. If you submit a PR with tests, we'll be happy to merge if this is causing issues for you.

[2022-11-07 11:21] JurjenRoels opened #110 "Morph to Many using JoinRelationShipUsingAlias('relation_name') not working correctly"
Hello,

I join the table attributes with a MoprhMany to lookups with lookupables. In attributes I create the relation in this way

`return $this->morphToMany(Lookup::class, 'lookupable')->where('lookups.type', 'attribuut_datatype');`

I call the powerjoinfunction: joinRelationshipUsingAlias, with only the name of the relation as a parameter

Powerjoin creates the following query:

[code]

As you c

[2022-11-07 11:42] JurjenRoels commented on #110
Also When providing the alias manually, this is not working properly

[code]

Result:

[code]

[2022-11-15 21:46] beshoo commented on #105
@luisdalmolin any idea?

[2022-11-22 16:08] webard opened #111 "Bug when joining same relation multiple times"
Hi,

look at this query builder:

[code]

and at result query:
[code]

Here is some problems:
1. This
[code]

should use alias, and be this:
[code]

2. This
[code]

should be this:
[code]

3. This
[code]

should be this:
[code]

and similarly for the second group.

4. This
[code]

should be this:
[code]

but this can be done in where condition.

Checking multiple times same relations is useful in